
.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.col {
  width: 50%;
}

.alignItemsCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.formWrapper {
  width: 100%;
  max-width: 28rem;
}

.form {
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0);
  transition: .5s ease-in-out;
  transition-delay: 1s;
}

.flexCol {
  flex-direction: column;
}


.container.signIn .form.signIn,
.container.signUp .form.signUp {
  transform: scale(1);
}

.contentRow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 6;
  width: 100%;
}

.text {
  margin: 4rem;
  color: var(--contrast-text);
}

.text h2 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 2rem 0;
  transition: 1s ease-in-out;
}

.text p {
  font-weight: 600;
  transition: 1s ease-in-out;
  transition-delay: .2s;
}

.img img {
  width: 30vw;
  transition: 1s ease-in-out;
  transition-delay: .4s;
}

.text.signIn h2{
  transform: translateX(-250%);
}

.text.signUp h2 {
  transform: translateX(250%);
}

.container.signIn .text.signIn h2,
.container.signUp .text.signUp h2 {
  transform: translateX(0);
}

/* BACKGROUND */

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300vw;
  transform: translate(35%, 0);
  background-image: linear-gradient(-45deg, var(--primary-main  ) 0%, var(--secondary-main) 100%);
  transition: 1s ease-in-out;
  z-index: 6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-right-radius: max(50vw, 50vh);
  border-top-left-radius: max(50vw, 50vh);
}

.container.signIn::before {
  transform: translate(0, 0);
  right: 50%;
}

.container.signUp::before {
  transform: translate(100%, 0);
  right: 50%;
}

/* RESPONSIVE */

@media only screen and (max-width: 425px) {

  .container::before,
  .container.signIn::before,
  .container.signUp::before {
      height: 100vh;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      z-index: 0;
      transform: none;
      right: 0;
  }

  /* .container.signIn .col.signUp {
transform: translateY(100%);
} */

  .container.signIn .col.signIn,
  .container.signUp .col.signUp {
      transform: translateY(0);
  }

  .contentRow {
      align-items: flex-start !important;
  }

  .contentRow .col {
      transform: translateY(0);
      background-color: unset;
  }

  .col {
      width: 100%;
      position: absolute;
      padding: 2rem;
      background-color: var(--background-paper);
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      transform: translateY(100%);
      transition: 1s ease-in-out;
  }

  .row {
      align-items: flex-end;
      justify-content: flex-end;
  }

  .form {
      box-shadow: none;
      margin: 0;
      padding: 0;
  }

  .text {
      margin: 0;
  }

  .text p {
      display: none;
  }

  .text h2 {
      margin: .5rem;
      font-size: 2rem;
  }
}