.header {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--ls-color-primary);
    border-radius: 10px;
    margin-top: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(55, 55, 55, 0.5);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
}
.userInfoRow{
    display: flex;
    height: 130px;
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    border: 1px solid var(--ls-color-primary);
}
.avatarBox{
    margin-top: -65px;
}