.right_side_bar {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    width: 350px;
    transition: all 0.2s ease;
    backdrop-filter: blur(15px);
    background-color: rgba(55, 55, 55, 0.1);
    padding: 20px;
}
