.friendList{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--ls-color-primary);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    height: auto;
}
.header{
    display: flex;
    height: 100px;
}