/************** HEADER *******************/
.profileHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border-radius: 5px;
}
.profileHeaderCard {
    flex: 1 1 auto;
}
.profileHeadDetail {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    margin-bottom: 1.25rem;
    text-align: center;
    z-index: 98;
}
.profileHeadImg {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileHeadInfo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    padding: 1.25rem !important;
}



@media (max-width: 991.98px) {
    .profileHeadInfo {
        justify-content: space-between;
    }
}
@media (max-width: 991.98px) {
    .profileHeadDetail {
        position: relative;
        bottom: 0;
        margin-top: -3.125rem;
    }
}
@media (max-width: 991.98px) {
    .profileHeadDetaill {
        margin-bottom: 0.938rem;
    }
}
@media (max-width: 991.98px) {
    .profileHeadImg {
        text-align: center;
        padding-right: 0 !important;
    }
}
/************** BODY *******************/
