.lsLayout {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
    height: 100vh;
}

.lsWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 280px - 350px);
    height: auto;
}
