:root {
    --color-light-bg-accent: #0069f7;
    --color-light-bg-accent-shade-7: #006bf7f3;
    --color-light-bg-accent-shade-15: #006bf7e7;
    --color-light-bg-accent-alpha-30: #0b58bdb4;

    --color-light-text-primary: #0b1f35;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-secondary: #546272;
    --color-light-text-secondary-inverted: #b6bcc3;
    --color-light-text-primary: #0b1f35;
    --color-light-text-primary-alpha-30: rgba(11, 31, 53, 0.3);
    --color-light-text-tertiary: #b6bcc3;

    --color-light-bg-neutral: #dbdee1;
    --color-light-bg-neutral-alpha-30: rgba(219, 222, 225, 0.3);
    --color-light-bg-neutral-shade-7: rgb(204, 206, 209);
    --color-light-bg-neutral-shade-15: rgb(186, 189, 191);
    --color-light-bg-neutral-shade-30: rgb(153, 155, 157);
}
