:root {
    --font-family: 'Roboto', sans-serif;

    --disabled-cursor: not-allowed;
    --border-radius-xs: 2px;
    --border-radius-s: 4px;
    --border-radius-m: 8px;
    --border-radius-l: 12px;
    --border-radius-xl: 16px;
    --border-radius-circle: 50%;
    --border-radius-pill: 99px;

    --size-xs-height: 32px;
    --size-s-height: 48px;
    --size-m-height: 56px;
    --size-l-height: 64px;
    --size-xl-height: 72px;
}
